.App {
  text-align: center;
  margin: 20px;
}

/* * {
  border: 1px red solid;
} */

.employeeTable {
  border: black solid 1px;
  display: inline-block;
  font-size: 24px;
  margin-top: 100px;
}

.tableCol {
  width: 200px;
  border: 1px black solid;
}


.nameInput {
  display: block;
  margin: 10px auto;
  font-size: 20px;
}

.searchField {
  width: 30%;
  text-align: center;
  display: inline-block;
}

.employeeFilter {
  display: block;
  margin: 10px auto;
  font-size: 24px;
}

.showButton {
  margin: 30px;
  font-size: 30px;
}

.filters {
  display: inline-block;
  width: 30%;
}

.filterButton {
  font-size: 24px;
  width: 30%;
}